@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap');


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body {

    background-color: black;

}

.container-buttons {

    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

button {

    background-color: #79cb15;
    border: none;
    border-radius: 5px;
    color: black;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 110px;

}

button:hover {

    opacity: 0.8;

}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    /* Espaço reduzido entre os itens */
    justify-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

li {
    border: 2px solid #8133fe;
    border-radius: 5px;
    padding: 5px;
    /* Pode reduzir se necessário */
    text-align: center;
}

img {
    width: 200px;
    border-radius: 5px;
}







p {
    color: #ffff;
    text-align: center;
    /* Centraliza o texto */
}



p {

    color: #ffff;
    text-align: center;

}

.item-price {

    color: #ffff;
    text-align: center;

}